### Crime Data

In [1]:
import pandas as pd
import datetime
import numpy as np

In [2]:
crime = pd.read_csv("NYPD_Complaint_Data_Historic.csv")

/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
crime_clean = crime.copy()
crime_clean_date = crime.copy()

In [4]:
crime_clean.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,...,ADDR_PCT_CD,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,PARKS_NM,HADEVELOPT,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon
0,101109527,12/31/2015,23:45:00,NaN,NaN,12/31/2015,113,FORGERY,729.0,"FORGERY,ETC.,UNCLASSIFIED-FELO",...,44.0,INSIDE,BAR/NIGHT CLUB,NaN,NaN,1007314.0,241257.0,40.828848,-73.916661,"(40.828848333, -73.916661142)"
1,153401121,12/31/2015,23:36:00,NaN,NaN,12/31/2015,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,...,103.0,OUTSIDE,NaN,NaN,NaN,1043991.0,193406.0,40.697338,-73.784557,"(40.697338138, -73.784556739)"
2,569369778,12/31/2015,23:30:00,NaN,NaN,12/31/2015,117,DANGEROUS DRUGS,503.0,"CONTROLLED SUBSTANCE,INTENT TO",...,28.0,NaN,OTHER,NaN,NaN,999463.0,231690.0,40.802607,-73.945052,"(40.802606608, -73.945051911)"
3,968417082,12/31/2015,23:30:00,NaN,NaN,12/31/2015,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,...,105.0,INSIDE,RESIDENCE-HOUSE,NaN,NaN,1060183.0,177862.0,40.654549,-73.726339,"(40.654549444, -73.726338791)"
4,641637920,12/31/2015,23:25:00,12/31/2015,23:30:00,12/31/2015,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,...,13.0,FRONT OF,OTHER,NaN,NaN,987606.0,208148.0,40.738002,-73.987891,"(40.7380024, -73.98789129)"

In [5]:
crime_clean.CMPLNT_FR_DT[27341]

'12/04/1015'

In [6]:
# crime_clean_date.CMPLNT_FR_DT = crime_clean_date.CMPLNT_FR_DT.str.replace('1014', '2014')
# crime_clean_date.CMPLNT_FR_DT = crime_clean_date.CMPLNT_FR_DT.str.replace('1015', '2015')
# crime_clean_date.CMPLNT_FR_DT = crime_clean_date.CMPLNT_FR_DT.str.replace('1016', '2016')

In [7]:
crime_clean_date.CMPLNT_FR_DT[27341]

'12/04/1015'

In [8]:
# Convert complaint date from string format to date format
crime_clean_date.CMPLNT_FR_DT = pd.to_datetime(crime_clean_date.CMPLNT_FR_DT, infer_datetime_format=True, errors='coerce')

In [9]:
# Select only 2015 data
mask_2015 = np.array(crime_clean_date.CMPLNT_FR_DT <= datetime.date(2015, 12, 31)) & np.array(crime_clean_date.CMPLNT_FR_DT >= datetime.date(2015, 1, 1))

In [10]:
crime_clean_date_2015 = crime_clean_date[mask_2015]

In [11]:
crime_clean_date_time_2015 = crime_clean_date_2015.copy()

In [12]:
crime_clean_date_time_2015.CMPLNT_FR_TM.values

array(['23:45:00', '23:36:00', '23:30:00', ..., '03:50:00', '01:25:00',
       '00:30:00'], dtype=object)

In [13]:
crime_clean_date_2015.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,...,ADDR_PCT_CD,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,PARKS_NM,HADEVELOPT,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon
0,101109527,2015-12-31,23:45:00,NaN,NaN,12/31/2015,113,FORGERY,729.0,"FORGERY,ETC.,UNCLASSIFIED-FELO",...,44.0,INSIDE,BAR/NIGHT CLUB,NaN,NaN,1007314.0,241257.0,40.828848,-73.916661,"(40.828848333, -73.916661142)"
1,153401121,2015-12-31,23:36:00,NaN,NaN,12/31/2015,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,...,103.0,OUTSIDE,NaN,NaN,NaN,1043991.0,193406.0,40.697338,-73.784557,"(40.697338138, -73.784556739)"
2,569369778,2015-12-31,23:30:00,NaN,NaN,12/31/2015,117,DANGEROUS DRUGS,503.0,"CONTROLLED SUBSTANCE,INTENT TO",...,28.0,NaN,OTHER,NaN,NaN,999463.0,231690.0,40.802607,-73.945052,"(40.802606608, -73.945051911)"
3,968417082,2015-12-31,23:30:00,NaN,NaN,12/31/2015,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,...,105.0,INSIDE,RESIDENCE-HOUSE,NaN,NaN,1060183.0,177862.0,40.654549,-73.726339,"(40.654549444, -73.726338791)"
4,641637920,2015-12-31,23:25:00,12/31/2015,23:30:00,12/31/2015,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,...,13.0,FRONT OF,OTHER,NaN,NaN,987606.0,208148.0,40.738002,-73.987891,"(40.7380024, -73.98789129)"

In [14]:
# Convert complaint time from string format to time format
crime_clean_date_time_2015.CMPLNT_FR_TM = pd.to_datetime(crime_clean_date_2015.CMPLNT_FR_TM, infer_datetime_format=True, errors='coerce').dt.time

In [15]:
# Create boolean masks for records based on which 4 hourly window a record falls into
mask_0_4 = np.array(crime_clean_date_time_2015.CMPLNT_FR_TM >= datetime.time(0,0,0)) & np.array(crime_clean_date_time_2015.CMPLNT_FR_TM <= datetime.time(3,59,59))
mask_4_8 = np.array(crime_clean_date_time_2015.CMPLNT_FR_TM >= datetime.time(4,0,0)) & np.array(crime_clean_date_time_2015.CMPLNT_FR_TM <= datetime.time(7,59,59))
mask_8_12 = np.array(crime_clean_date_time_2015.CMPLNT_FR_TM >= datetime.time(8,0,0)) & np.array(crime_clean_date_time_2015.CMPLNT_FR_TM <= datetime.time(11,59,59))
mask_12_16 = np.array(crime_clean_date_time_2015.CMPLNT_FR_TM >= datetime.time(12,0,0)) & np.array(crime_clean_date_time_2015.CMPLNT_FR_TM <= datetime.time(15,59,59))
mask_16_20 = np.array(crime_clean_date_time_2015.CMPLNT_FR_TM >= datetime.time(16,0,0)) & np.array(crime_clean_date_time_2015.CMPLNT_FR_TM <= datetime.time(19,59,59))
mask_20_0 = np.array(crime_clean_date_time_2015.CMPLNT_FR_TM >= datetime.time(20,0,0)) & np.array(crime_clean_date_time_2015.CMPLNT_FR_TM <= datetime.time(23,59,59))

In [16]:
# Create two new columns to indicate which 4 hourly window a record falls into
crime_clean_date_time_2015['hour'] = np.zeros(crime_clean_date_time_2015.shape[0])
crime_clean_date_time_2015['hour_interval'] = np.zeros(crime_clean_date_time_2015.shape[0])

In [17]:
# Populat the two new columns using the boolean masks
crime_clean_date_time_2015['hour'][mask_0_4] = 4
crime_clean_date_time_2015['hour_interval'][mask_0_4] = '0000-0400'
crime_clean_date_time_2015['hour'][mask_4_8] = 8
crime_clean_date_time_2015['hour_interval'][mask_4_8] = '0400-0800'
crime_clean_date_time_2015['hour'][mask_8_12] = 12
crime_clean_date_time_2015['hour_interval'][mask_8_12] = '0800-1200'
crime_clean_date_time_2015['hour'][mask_12_16] = 16
crime_clean_date_time_2015['hour_interval'][mask_12_16] = '1200-1600'
crime_clean_date_time_2015['hour'][mask_16_20] = 20
crime_clean_date_time_2015['hour_interval'][mask_16_20] = '1600-2000'
crime_clean_date_time_2015['hour'][mask_20_0] = 0
crime_clean_date_time_2015['hour_interval'][mask_20_0] = '2000-0000'

/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

In [18]:
crime_clean_date_time_2015.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,...,PREM_TYP_DESC,PARKS_NM,HADEVELOPT,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,hour,hour_interval
0,101109527,2015-12-31,23:45:00,NaN,NaN,12/31/2015,113,FORGERY,729.0,"FORGERY,ETC.,UNCLASSIFIED-FELO",...,BAR/NIGHT CLUB,NaN,NaN,1007314.0,241257.0,40.828848,-73.916661,"(40.828848333, -73.916661142)",0.0,2000-0000
1,153401121,2015-12-31,23:36:00,NaN,NaN,12/31/2015,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,...,NaN,NaN,NaN,1043991.0,193406.0,40.697338,-73.784557,"(40.697338138, -73.784556739)",0.0,2000-0000
2,569369778,2015-12-31,23:30:00,NaN,NaN,12/31/2015,117,DANGEROUS DRUGS,503.0,"CONTROLLED SUBSTANCE,INTENT TO",...,OTHER,NaN,NaN,999463.0,231690.0,40.802607,-73.945052,"(40.802606608, -73.945051911)",0.0,2000-0000
3,968417082,2015-12-31,23:30:00,NaN,NaN,12/31/2015,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,...,RESIDENCE-HOUSE,NaN,NaN,1060183.0,177862.0,40.654549,-73.726339,"(40.654549444, -73.726338791)",0.0,2000-0000
4,641637920,2015-12-31,23:25:00,12/31/2015,23:30:00,12/31/2015,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,...,OTHER,NaN,NaN,987606.0,208148.0,40.738002,-73.987891,"(40.7380024, -73.98789129)",0.0,2000-0000

In [19]:
# Create a boolean mask for crimes committed in subway stations
mask_subway = crime_clean_date_time_2015.PREM_TYP_DESC == 'TRANSIT - NYC SUBWAY'

In [20]:
# Create a new df only for crimes committed in subway stations
subway_crime_clean_date_time_2015 = crime_clean_date_time_2015[mask_subway]

In [21]:
subway_crime_clean_date_time_2015.groupby('hour').size()

hour
0.0     1413
4.0     1383
8.0     1219
12.0    1919
16.0    2654
20.0    2640
dtype: int64

In [22]:
sum(subway_crime_clean_date_time_2015.Lat_Lon.isnull())

710

In [23]:
subway_crime_clean_date_time_2015.shape

(11228, 26)

In [24]:
len(subway_crime_clean_date_time_2015.CMPLNT_NUM.unique())

11228

In [25]:
len(subway_crime_clean_date_time_2015.CMPLNT_NUM.unique())

11228

In [26]:
# Remove the rows for which there isn't lat long
subway_crime_clean_date_time_2015_wo_null = subway_crime_clean_date_time_2015[~subway_crime_clean_date_time_2015.Lat_Lon.isnull()]

In [27]:
subway_crime_clean_date_time_2015_wo_null.shape

(10518, 26)

In [28]:
subway_crime_clean_date_time_2015.shape[0] - sum(subway_crime_clean_date_time_2015.Lat_Lon.isnull())

10518

In [29]:
crime_id_and_lat_long = subway_crime_clean_date_time_2015_wo_null[['CMPLNT_NUM', 'Latitude', 'Longitude']]

In [30]:
# crime_id_and_lat_long.to_csv("crime_id_and_lat_long.csv", index=False)

#### Work with subway_crime_clean_date_time_2015_wo_null

In [31]:
subway_crime_clean_date_time_2015_wo_null.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,...,PREM_TYP_DESC,PARKS_NM,HADEVELOPT,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,hour,hour_interval
104,705138134,2015-12-31,20:15:00,12/31/2015,20:20:00,12/31/2015,341,PETIT LARCENY,339.0,"LARCENY,PETIT FROM OPEN AREAS,",...,TRANSIT - NYC SUBWAY,NaN,NaN,983985.0,205857.0,40.731715,-74.000958,"(40.731714801, -74.000957613)",0.0,2000-0000
285,388964564,2015-12-31,15:20:00,12/31/2015,15:35:00,12/31/2015,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,...,TRANSIT - NYC SUBWAY,NaN,NaN,1011020.0,210932.0,40.745604,-73.903391,"(40.745603909, -73.903390603)",16.0,1200-1600
310,752481950,2015-12-31,14:30:00,12/31/2015,15:00:00,12/31/2015,109,GRAND LARCENY,404.0,"LARCENY,GRAND FROM PERSON,PERSONAL ELECTRONIC ...",...,TRANSIT - NYC SUBWAY,NaN,NaN,1010774.0,235171.0,40.812134,-73.904183,"(40.812134274, -73.904182714)",16.0,1200-1600
359,693476736,2015-12-31,13:00:00,NaN,NaN,12/31/2015,351,CRIMINAL MISCHIEF & RELATED OF,258.0,"CRIMINAL MISCHIEF 4TH, GRAFFIT",...,TRANSIT - NYC SUBWAY,NaN,NaN,997374.0,234664.0,40.810773,-73.952592,"(40.810772767, -73.95259159)",16.0,1200-1600
390,582593243,2015-12-31,12:10:00,12/31/2015,12:24:00,12/31/2015,344,ASSAULT 3 & RELATED OFFENSES,113.0,"MENACING,UNCLASSIFIED",...,TRANSIT - NYC SUBWAY,NaN,NaN,1026676.0,244181.0,40.836802,-73.846679,"(40.83680208, -73.846679393)",16.0,1200-1600

In [32]:
subway_crime_clean_date_time_2015_wo_null.BORO_NM.unique()

array(['MANHATTAN', 'QUEENS', 'BRONX', 'BROOKLYN'], dtype=object)

In [33]:
subway_crime_clean_date_time_2015_wo_null.PREM_TYP_DESC.unique()

array(['TRANSIT - NYC SUBWAY'], dtype=object)

In [34]:
col_to_keep = ['CMPLNT_NUM', 'CMPLNT_FR_DT', 'CMPLNT_FR_TM', 'hour', 'hour_interval', 'PD_DESC', 'LAW_CAT_CD', 'BORO_NM', 'ADDR_PCT_CD', 'PREM_TYP_DESC', 'Latitude', 'Longitude', 'Lat_Lon']

In [35]:
subway_crime_clean_date_time_2015_wo_null_summary = subway_crime_clean_date_time_2015_wo_null[col_to_keep]

In [36]:
subway_crime_clean_date_time_2015_wo_null_summary.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,hour,hour_interval,PD_DESC,LAW_CAT_CD,BORO_NM,ADDR_PCT_CD,PREM_TYP_DESC,Latitude,Longitude,Lat_Lon
104,705138134,2015-12-31,20:15:00,0.0,2000-0000,"LARCENY,PETIT FROM OPEN AREAS,",MISDEMEANOR,MANHATTAN,6.0,TRANSIT - NYC SUBWAY,40.731715,-74.000958,"(40.731714801, -74.000957613)"
285,388964564,2015-12-31,15:20:00,16.0,1200-1600,ASSAULT 3,MISDEMEANOR,QUEENS,108.0,TRANSIT - NYC SUBWAY,40.745604,-73.903391,"(40.745603909, -73.903390603)"
310,752481950,2015-12-31,14:30:00,16.0,1200-1600,"LARCENY,GRAND FROM PERSON,PERSONAL ELECTRONIC ...",FELONY,BRONX,41.0,TRANSIT - NYC SUBWAY,40.812134,-73.904183,"(40.812134274, -73.904182714)"
359,693476736,2015-12-31,13:00:00,16.0,1200-1600,"CRIMINAL MISCHIEF 4TH, GRAFFIT",MISDEMEANOR,MANHATTAN,26.0,TRANSIT - NYC SUBWAY,40.810773,-73.952592,"(40.810772767, -73.95259159)"
390,582593243,2015-12-31,12:10:00,16.0,1200-1600,"MENACING,UNCLASSIFIED",MISDEMEANOR,BRONX,45.0,TRANSIT - NYC SUBWAY,40.836802,-73.846679,"(40.83680208, -73.846679393)"

In [37]:
cmplnt_num_to_subway_stat_id = pd.read_csv("cmplnt_num_to_station_id.csv")

In [38]:
cmplnt_num_to_subway_stat_id.head()

   CMPLNT_NUM   ID
0   100502300  150
1   114432859   47
2   136574542    4
3   140897100   62
4   144135293   45

In [39]:
cmplnt_num_to_subway_stat_id.columns = ['CMPLNT_NUM', 'ID']

In [40]:
subway_info = pd.read_csv("../data/subway_coords_clean.csv")

In [41]:
subway_info.head()

   ID Station Line Name Division   Latitude  Longitude
0   1    1 AV         L      BMT  40.730953 -73.981628
1   3  103 ST         1      IRT  40.799446 -73.968379
2   4  103 ST         6      IRT  40.790600 -73.947478
3   5  103 ST        BC      IND  40.796092 -73.961454
4   6  110 ST         6      IRT  40.795020 -73.944250

In [42]:
complnt_num_subway_info = pd.merge(cmplnt_num_to_subway_stat_id, subway_info, on='ID')

In [43]:
complnt_num_subway_info2 = complnt_num_subway_info[['CMPLNT_NUM', 'ID', 'Station', 'Line Name', 'Division']]

In [44]:
complnt_num_subway_info2.columns = ['CMPLNT_NUM', 'Subway_Station_ID', 'Station_Name', 'Line_Name', 'Division']

In [45]:
complnt_num_subway_info2.head()

   CMPLNT_NUM  Subway_Station_ID   Station_Name Line_Name Division
0   100502300                150  EAST BROADWAY         F      IND
1   150503634                150  EAST BROADWAY         F      IND
2   152610687                150  EAST BROADWAY         F      IND
3   225148402                150  EAST BROADWAY         F      IND
4   296057938                150  EAST BROADWAY         F      IND

In [46]:
subway_crime = pd.merge(subway_crime_clean_date_time_2015_wo_null_summary, complnt_num_subway_info2, on='CMPLNT_NUM')

In [47]:
subway_crime.isnull().sum()

CMPLNT_NUM           0
CMPLNT_FR_DT         0
CMPLNT_FR_TM         0
hour                 0
hour_interval        0
PD_DESC              0
LAW_CAT_CD           0
BORO_NM              0
ADDR_PCT_CD          0
PREM_TYP_DESC        0
Latitude             0
Longitude            0
Lat_Lon              0
Subway_Station_ID    0
Station_Name         0
Line_Name            0
Division             0
dtype: int64

In [48]:
len(subway_crime)

10765

In [65]:
subway_crime_manhattan = subway_crime[subway_crime.BORO_NM == 'MANHATTAN']

In [66]:
subway_crime_manhattan['Station_Name_w_Line'] = subway_crime_manhattan.Station_Name + " (" + subway_crime_manhattan.Line_Name + ")"

/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [67]:
subway_crime_manhattan.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,hour,hour_interval,PD_DESC,LAW_CAT_CD,BORO_NM,ADDR_PCT_CD,PREM_TYP_DESC,Latitude,Longitude,Lat_Lon,Subway_Station_ID,Station_Name,Line_Name,Division,Station_Name_w_Line
0,705138134,2015-12-31,20:15:00,0.0,2000-0000,"LARCENY,PETIT FROM OPEN AREAS,",MISDEMEANOR,MANHATTAN,6.0,TRANSIT - NYC SUBWAY,40.731715,-74.000958,"(40.731714801, -74.000957613)",182,W 4 ST-WASH SQ,ABCDEFM,IND,W 4 ST-WASH SQ (ABCDEFM)
3,693476736,2015-12-31,13:00:00,16.0,1200-1600,"CRIMINAL MISCHIEF 4TH, GRAFFIT",MISDEMEANOR,MANHATTAN,26.0,TRANSIT - NYC SUBWAY,40.810773,-73.952592,"(40.810772767, -73.95259159)",12,125 ST,ACBD,IND,125 ST (ACBD)
5,464040698,2015-12-31,09:19:00,12.0,0800-1200,"MARIJUANA, POSSESSION 4 & 5",MISDEMEANOR,MANHATTAN,17.0,TRANSIT - NYC SUBWAY,40.762235,-73.968188,"(40.762234771, -73.968188083)",88,59 ST,456NQR,IRT,59 ST (456NQR)
9,588020424,2015-12-13,02:20:00,4.0,0000-0400,"LEWDNESS,PUBLIC",MISDEMEANOR,MANHATTAN,7.0,TRANSIT - NYC SUBWAY,40.718564,-73.988201,"(40.718564066, -73.988201454)",146,DELANCEY/ESSEX ST,FJMZ,IND,DELANCEY/ESSEX ST (FJMZ)
13,190983669,2015-12-30,18:12:00,20.0,1600-2000,"CRIMINAL MISCHIEF 4TH, GRAFFIT",MISDEMEANOR,MANHATTAN,30.0,TRANSIT - NYC SUBWAY,40.824040,-73.944760,"(40.824040004, -73.944759612)",28,145 ST,ABCD,IND,145 ST (ABCD)

In [68]:
subway_crime_manhattan.to_csv("subway_crime_manhattan.csv", index=False)

In [51]:
subway_crime_manhattan.isnull().sum()

CMPLNT_NUM           0
CMPLNT_FR_DT         0
CMPLNT_FR_TM         0
hour                 0
hour_interval        0
PD_DESC              0
LAW_CAT_CD           0
BORO_NM              0
ADDR_PCT_CD          0
PREM_TYP_DESC        0
Latitude             0
Longitude            0
Lat_Lon              0
Subway_Station_ID    0
Station_Name         0
Line_Name            0
Division             0
dtype: int64

In [55]:
subway_crime_manhattan.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,hour,hour_interval,PD_DESC,LAW_CAT_CD,BORO_NM,ADDR_PCT_CD,PREM_TYP_DESC,Latitude,Longitude,Lat_Lon,Subway_Station_ID,Station_Name,Line_Name,Division
0,705138134,2015-12-31,20:15:00,0.0,2000-0000,"LARCENY,PETIT FROM OPEN AREAS,",MISDEMEANOR,MANHATTAN,6.0,TRANSIT - NYC SUBWAY,40.731715,-74.000958,"(40.731714801, -74.000957613)",182,W 4 ST-WASH SQ,ABCDEFM,IND
3,693476736,2015-12-31,13:00:00,16.0,1200-1600,"CRIMINAL MISCHIEF 4TH, GRAFFIT",MISDEMEANOR,MANHATTAN,26.0,TRANSIT - NYC SUBWAY,40.810773,-73.952592,"(40.810772767, -73.95259159)",12,125 ST,ACBD,IND
5,464040698,2015-12-31,09:19:00,12.0,0800-1200,"MARIJUANA, POSSESSION 4 & 5",MISDEMEANOR,MANHATTAN,17.0,TRANSIT - NYC SUBWAY,40.762235,-73.968188,"(40.762234771, -73.968188083)",88,59 ST,456NQR,IRT
9,588020424,2015-12-13,02:20:00,4.0,0000-0400,"LEWDNESS,PUBLIC",MISDEMEANOR,MANHATTAN,7.0,TRANSIT - NYC SUBWAY,40.718564,-73.988201,"(40.718564066, -73.988201454)",146,DELANCEY/ESSEX ST,FJMZ,IND
13,190983669,2015-12-30,18:12:00,20.0,1600-2000,"CRIMINAL MISCHIEF 4TH, GRAFFIT",MISDEMEANOR,MANHATTAN,30.0,TRANSIT - NYC SUBWAY,40.824040,-73.944760,"(40.824040004, -73.944759612)",28,145 ST,ABCD,IND

In [80]:
turnstile_usage = pd.read_csv("../data/2015_manhattan_turnstile_usage.csv")

In [81]:
turnstile_usage

,date,date_time,interval,day_of_week,day,hour,is_holiday,station_id,station,lines,entry_volume,exit_volume
0,2015-01-01,2015-01-01 04:00:00,12AM-04AM,3,Thursday,4,True,1,1 AV,L,1203.0,1700.0
1,2015-01-01,2015-01-01 08:00:00,04AM-08AM,3,Thursday,8,True,1,1 AV,L,994.0,1248.0
2,2015-01-01,2015-01-01 12:00:00,08AM-12PM,3,Thursday,12,True,1,1 AV,L,3233.0,2672.0
3,2015-01-01,2015-01-01 16:00:00,12PM-04PM,3,Thursday,16,True,1,1 AV,L,4002.0,4322.0
4,2015-01-01,2015-01-01 20:00:00,04PM-08PM,3,Thursday,20,True,1,1 AV,L,3034.0,3440.0
5,2015-01-02,2015-01-02 00:00:00,08PM-12AM,4,Friday,0,False,1,1 AV,L,1402.0,1037.0
6,2015-01-02,2015-01-02 04:00:00,12AM-04AM,4,Friday,4,False,1,1 AV,L,424.0,972.0
7,2015-01-02,2015-01-02 08:00:00,04AM-08AM,4,Friday,8,False,1,1 AV,L,3311.0,4132.0
8,2015-01-02,2015-01-02 12:00:00,08AM-12PM,4,Friday,12,False,1,1 AV,L,4129.0,4162.0
9,2015-01-02,2015-01-02 16:00:00,12PM-04PM,4,Friday,16,False,1,1 AV,L,6230.0,6798.0
10,2015-01-02,2015-01-02 20:00:00,04PM-08PM,4,Friday,20,False,1,1 AV,L,4887.0,5374.0
11,2015-01-03,2015-01-03 00:00:00,08PM-12AM,5,Saturday,0,False,1,1 AV,L,2673.0,1957.0
12,2015-01-03,2015-01-03 04:00:00,12AM-04AM,5,Saturday,4,False,1,1 AV,L,554.0,653.0
13,2015-01-03,2015-01-03 08:00:00,04AM-08AM,5,Saturday,8,False,1,1 AV,L,1742.0,2120.0
14,2015-01-03,2015-01-03 12:00:00,08AM-12PM,5,Saturday,12,False,1,1 AV,L,3879.0,4044.0
15,2015-01-03,2015-01-03 16:00:00,12PM-04PM,5,Saturday,16,False,1,1 AV,L,4223.0,5706.0
16,2015-01-03,2015-01-03 20:00:00,04PM-08PM,5,Saturday,20,False,1,1 AV,L,3781.0,4429.0
17,2015-01-04,2015-01-04 00:00:00,08PM-12AM,6,Sunday,0,False,1,1 AV,L,2144.0,1745.0
18,2015-01-04,2015-01-04 04:00:00,12AM-04AM,6,Sunday,4,False,1,1 AV,L,513.0,542.0
19,2015-01-04,2015-01-04 08:00:00,04AM-08AM,6,Sunday,8,False,1,1 AV,L,1377.0,1618.0
20,2015-01-04,2015-01-04 12:00:00,08AM-12PM,6,Sunday,12,False,1,1 AV,L,3359.0,3571.0
21,2015-01-04,2015-01-04 16:00:00,12PM-04PM,6,Sunday,16,False,1,1 AV,L,3984.0,4499.0
22,2015-01-04,2015-01-04 20:00:00,04PM-08PM,6,Sunday,20,False,1,1 AV,L,3032.0,3363.0
23,2015-01-05,2015-01-05 00:00:00,08PM-12AM,0,Monday,0,False,1,1 AV,L,1004.0,680.0
24,2015-01-05,2015-01-05 04:00:00,12AM-04AM,0,Monday,4,False,1,1 AV,L,690.0,1274.0
25,2015-01-05,2015-01-05 08:00:00,04AM-08AM,0,Monday,8,False,1,1 AV,L,6255.0,6847.0
26,2015-01-05,2015-01-05 12:00:00,08AM-12PM,0,Monday,12,False,1,1 AV,L,3749.0,3978.0
27,2015-01-05,2015-01-05 16:00:00,12PM-04PM,0,Monday,16,False,1,1 AV,L,7457.0,7000.0
28,2015-01-05,2015-01-05 20:00:00,04PM-08PM,0,Monday,20,False,1,1 AV,L,3778.0,5155.0
29,2015-01-06,2015-01-06 00:00:00,08PM-12AM,1,Tuesday,0,False,1,1 AV,L,1159.0,689.0
...,...,...,...,...,...,...,...,...,...,...,...,...
235810,2015-12-28,2015-12-28 00:00:00,08PM-12AM,0,Monday,0,False,186,WORLD TRADE CTR,ACE23,157.0,232.0
235811,2015-12-28,2015-12-28 04:00:00,12AM-04AM,0,Monday,4,False,186,WORLD TRADE CTR,ACE23,340.0,316.0
235812,2015-12-28,2015-12-28 08:00:00,04AM-08AM,0,Monday,8,False,186,WORLD TRADE CTR,ACE23,1955.0,2734.0
235813,2015-12-28,2015-12-28 12:00:00,08AM-12PM,0,Monday,12,False,186,WORLD TRADE CTR,ACE23,4782.0,3000.0
235814,2015-12-28,2015-12-28 16:00:00,12PM-04PM,0,Monday,16,False,186,WORLD TRADE CTR,ACE23,9264.0,2651.0
235815,2015-12-28,2015-12-28 20:00:00,04PM-08PM,0,Monday,20,False,186,WORLD TRADE CTR,ACE23,2423.0,1111.0
235816,2015-12-29,2015-12-29 00:00:00,08PM-12AM,1,Tuesday,0,False,186,WORLD TRADE CTR,ACE23,266.0,223.0
235817,2015-12-29,2015-12-29 04:00:00,12AM-04AM,1,Tuesday,4,False,186,WORLD TRADE CTR,ACE23,289.0,352.0
235818,2015-12-29,2015-12-29 08:00:00,04AM-08AM,1,Tuesday,8,False,186,WORLD TRADE CTR,ACE23,1905.0,2345.0
235819,2015-12-29,2015-12-29 12:00:00,08AM-12PM,1,Tuesday,12,False,186,WORLD TRADE CTR,ACE23,3533.0,2106.0
235820,2015-12-29,2015-12-29 16:00:00,12PM-04PM,1,Tuesday,16,False,186,WORLD TRADE CTR,ACE23,7840.0,2375.0
235821,2015-12-29,2015-12-29 20:00:00,04PM-08PM,1,Tuesday,20,False,186,WORLD TRADE CTR,ACE23,2223.0,1097.0
235822,2015-12-30,2015-12-30 00:00:00,08PM-12AM,2,Wednesday,0,False,186,WORLD TRADE CTR,ACE23,299.0,215.0
235823,2015-12-30,2015-12-30 04:00:00,12AM-04AM,2,Wednesday,4,False,186,WORLD TRADE CTR,ACE23,349.0,395.0
235824,2015-12-30,2015-12-30 08:00:00,04AM-08AM,2,Wednesday,8,False,186,WORLD TRADE CTR,ACE23,1899.0,2393.0
235825,2015-12-30,2015-12-30 12:00:00,08AM-12PM,2,Wednesday,12,False,186,WORLD TRADE CTR,ACE23,4355.0,2892.0
235826,2015-12-30,2015-12-30 16:00:00,12PM-04PM,2,Wednesday,16,False,186,WORLD TRADE CTR,ACE23,8333.0,2729.0
235827,2015-12-30,2015-12-30 20:00:00,04PM-08PM,2,Wednesday,20,False,186,WORLD TRADE CTR,ACE23,2413.0,1328.0
235828,2015-12-31,2015-12-31 00:00:00,08PM-12AM,3,Thursday,0,False,186,WORLD TRADE CTR,ACE23,289.0,343.0
235829,2015-12-31,2015-12-31 04:00:00,12AM-04AM,3,Thursday,4,False,186,WORLD TRADE CTR,ACE23,214.0,296.0
235830,2015-12-31,2015-12-31 08:00:00,04AM-08AM,3,Thursday,8,False,186,WORLD TRADE CTR,ACE23,1421.0,1670.0
235831,2015-12-31,2015-12-31 12:00:00,08AM-12PM,3,Thursday,12,False,186,WORLD TRADE CTR,ACE23,4218.0,2028.0
235832,2015-12-31,2015-12-31 16:00:00,12PM-04PM,3,Thursday,16,False,186,WORLD TRADE CTR,ACE23,5286.0,1805.0
235833,2015-12-31,2015-12-31 20:00:00,04PM-08PM,3,Thursday,20,False,186,WORLD TRADE CTR,ACE23,1546.0,898.0
235834,2016-01-01,2016-01-01 00:00:00,08PM-12AM,4,Friday,0,True,186,WORLD TRADE CTR,ACE23,477.0,839.0
235835,2016-01-01,2016-01-01 04:00:00,12AM-04AM,4,Friday,4,True,186,WORLD TRADE CTR,ACE23,194.0,234.0
235836,2016-01-01,2016-01-01 08:00:00,04AM-08AM,4,Friday,8,True,186,WORLD TRADE CTR,ACE23,391.0,486.0
235837,2016-01-01,2016-01-01 12:00:00,08AM-12PM,4,Friday,12,True,186,WORLD TRADE CTR,ACE23,2505.0,1693.0
235838,2016-01-01,2016-01-01 16:00:00,12PM-04PM,4,Friday,16,True,186,WORLD TRADE CTR,ACE23,4630.0,1772.0
235839,2016-01-01,2016-01-01 20:00:00,04PM-08PM,4,Friday,20,True,186,WORLD TRADE CTR,ACE23,1704.0,930.0

In [82]:
turnstile_usage['Station_Name_w_Line'] = tunrstile_usage.station + " (" + tunrstile_usage.lines + ")"

In [83]:
turnstile_usage.date < to

,date,date_time,interval,day_of_week,day,hour,is_holiday,station_id,station,lines,entry_volume,exit_volume,Station_Name_w_Line
0,2015-01-01,2015-01-01 04:00:00,12AM-04AM,3,Thursday,4,True,1,1 AV,L,1203.0,1700.0,1 AV (L)
1,2015-01-01,2015-01-01 08:00:00,04AM-08AM,3,Thursday,8,True,1,1 AV,L,994.0,1248.0,1 AV (L)
2,2015-01-01,2015-01-01 12:00:00,08AM-12PM,3,Thursday,12,True,1,1 AV,L,3233.0,2672.0,1 AV (L)
3,2015-01-01,2015-01-01 16:00:00,12PM-04PM,3,Thursday,16,True,1,1 AV,L,4002.0,4322.0,1 AV (L)
4,2015-01-01,2015-01-01 20:00:00,04PM-08PM,3,Thursday,20,True,1,1 AV,L,3034.0,3440.0,1 AV (L)
5,2015-01-02,2015-01-02 00:00:00,08PM-12AM,4,Friday,0,False,1,1 AV,L,1402.0,1037.0,1 AV (L)
6,2015-01-02,2015-01-02 04:00:00,12AM-04AM,4,Friday,4,False,1,1 AV,L,424.0,972.0,1 AV (L)
7,2015-01-02,2015-01-02 08:00:00,04AM-08AM,4,Friday,8,False,1,1 AV,L,3311.0,4132.0,1 AV (L)
8,2015-01-02,2015-01-02 12:00:00,08AM-12PM,4,Friday,12,False,1,1 AV,L,4129.0,4162.0,1 AV (L)
9,2015-01-02,2015-01-02 16:00:00,12PM-04PM,4,Friday,16,False,1,1 AV,L,6230.0,6798.0,1 AV (L)
10,2015-01-02,2015-01-02 20:00:00,04PM-08PM,4,Friday,20,False,1,1 AV,L,4887.0,5374.0,1 AV (L)
11,2015-01-03,2015-01-03 00:00:00,08PM-12AM,5,Saturday,0,False,1,1 AV,L,2673.0,1957.0,1 AV (L)
12,2015-01-03,2015-01-03 04:00:00,12AM-04AM,5,Saturday,4,False,1,1 AV,L,554.0,653.0,1 AV (L)
13,2015-01-03,2015-01-03 08:00:00,04AM-08AM,5,Saturday,8,False,1,1 AV,L,1742.0,2120.0,1 AV (L)
14,2015-01-03,2015-01-03 12:00:00,08AM-12PM,5,Saturday,12,False,1,1 AV,L,3879.0,4044.0,1 AV (L)
15,2015-01-03,2015-01-03 16:00:00,12PM-04PM,5,Saturday,16,False,1,1 AV,L,4223.0,5706.0,1 AV (L)
16,2015-01-03,2015-01-03 20:00:00,04PM-08PM,5,Saturday,20,False,1,1 AV,L,3781.0,4429.0,1 AV (L)
17,2015-01-04,2015-01-04 00:00:00,08PM-12AM,6,Sunday,0,False,1,1 AV,L,2144.0,1745.0,1 AV (L)
18,2015-01-04,2015-01-04 04:00:00,12AM-04AM,6,Sunday,4,False,1,1 AV,L,513.0,542.0,1 AV (L)
19,2015-01-04,2015-01-04 08:00:00,04AM-08AM,6,Sunday,8,False,1,1 AV,L,1377.0,1618.0,1 AV (L)
20,2015-01-04,2015-01-04 12:00:00,08AM-12PM,6,Sunday,12,False,1,1 AV,L,3359.0,3571.0,1 AV (L)
21,2015-01-04,2015-01-04 16:00:00,12PM-04PM,6,Sunday,16,False,1,1 AV,L,3984.0,4499.0,1 AV (L)
22,2015-01-04,2015-01-04 20:00:00,04PM-08PM,6,Sunday,20,False,1,1 AV,L,3032.0,3363.0,1 AV (L)
23,2015-01-05,2015-01-05 00:00:00,08PM-12AM,0,Monday,0,False,1,1 AV,L,1004.0,680.0,1 AV (L)
24,2015-01-05,2015-01-05 04:00:00,12AM-04AM,0,Monday,4,False,1,1 AV,L,690.0,1274.0,1 AV (L)
25,2015-01-05,2015-01-05 08:00:00,04AM-08AM,0,Monday,8,False,1,1 AV,L,6255.0,6847.0,1 AV (L)
26,2015-01-05,2015-01-05 12:00:00,08AM-12PM,0,Monday,12,False,1,1 AV,L,3749.0,3978.0,1 AV (L)
27,2015-01-05,2015-01-05 16:00:00,12PM-04PM,0,Monday,16,False,1,1 AV,L,7457.0,7000.0,1 AV (L)
28,2015-01-05,2015-01-05 20:00:00,04PM-08PM,0,Monday,20,False,1,1 AV,L,3778.0,5155.0,1 AV (L)
29,2015-01-06,2015-01-06 00:00:00,08PM-12AM,1,Tuesday,0,False,1,1 AV,L,1159.0,689.0,1 AV (L)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
235810,2015-12-28,2015-12-28 00:00:00,08PM-12AM,0,Monday,0,False,186,WORLD TRADE CTR,ACE23,157.0,232.0,WORLD TRADE CTR (ACE23)
235811,2015-12-28,2015-12-28 04:00:00,12AM-04AM,0,Monday,4,False,186,WORLD TRADE CTR,ACE23,340.0,316.0,WORLD TRADE CTR (ACE23)
235812,2015-12-28,2015-12-28 08:00:00,04AM-08AM,0,Monday,8,False,186,WORLD TRADE CTR,ACE23,1955.0,2734.0,WORLD TRADE CTR (ACE23)
235813,2015-12-28,2015-12-28 12:00:00,08AM-12PM,0,Monday,12,False,186,WORLD TRADE CTR,ACE23,4782.0,3000.0,WORLD TRADE CTR (ACE23)
235814,2015-12-28,2015-12-28 16:00:00,12PM-04PM,0,Monday,16,False,186,WORLD TRADE CTR,ACE23,9264.0,2651.0,WORLD TRADE CTR (ACE23)
235815,2015-12-28,2015-12-28 20:00:00,04PM-08PM,0,Monday,20,False,186,WORLD TRADE CTR,ACE23,2423.0,1111.0,WORLD TRADE CTR (ACE23)
235816,2015-12-29,2015-12-29 00:00:00,08PM-12AM,1,Tuesday,0,False,186,WORLD TRADE CTR,ACE23,266.0,223.0,WORLD TRADE CTR (ACE23)
235817,2015-12-29,2015-12-29 04:00:00,12AM-04AM,1,Tuesday,4,False,186,WORLD TRADE CTR,ACE23,289.0,352.0,WORLD TRADE CTR (ACE23)
235818,2015-12-29,2015-12-29 08:00:00,04AM-08AM,1,Tuesday,8,False,186,WORLD TRADE CTR,ACE23,1905.0,2345.0,WORLD TRADE CTR (ACE23)
235819,2015-12-29,2015-12-29 12:00:00,08AM-12PM,1,Tuesday,12,False,186,WORLD TRADE CTR,ACE23,3533.0,2106.0,WORLD TRADE CTR (ACE23)
235820,2015-12-29,2015-12-29 16:00:00,12PM-04PM,1,Tuesday,16,False,186,WORLD TRADE CTR,ACE23,7840.0,2375.0,WORLD TRADE CTR (ACE23)
235821,2015-12-29,2015-12-29 20:00:00,04PM-08PM,1,Tuesday,20,False,186,WORLD TRADE CTR,ACE23,2223.0,1097.0,WORLD TRADE CTR (ACE23)
235822,2015-12-30,2015-12-30 00:00:00,08PM-12AM,2,Wednesday,0,False,186,WORLD TRADE CTR,ACE23,299.0,215.0,WORLD TRADE CTR (ACE23)
235823,2015-12-30,2015-12-30 04:00:00,12AM-04AM,2,Wednesday,4,False,186,WORLD TRADE CTR,ACE23,349.0,395.0,WORLD TRADE CTR (ACE23)
235824,2015-12-30,2015-12-30 08:00:00,04AM-08AM,2,Wednesday,8,False,186,WORLD TRADE CTR,ACE23,1899.0,2393.0,WORLD TRADE CTR (ACE23)
235825,2015-12-30,2015-12-30 12:00:00,08AM-12PM,2,Wednesday,12,False,186,WORLD TRADE CTR,ACE23,4355.0,2892.0,WORLD TRADE CTR (ACE23)
235826,2015-12-30,2015-12-30 16:00:00,12PM-04PM,2,Wednesday,16,False,186,WORLD TRADE CTR,ACE23,8333.0,2729.0,WORLD TRADE CTR (ACE23)
235827,2015-12-30,2015-12-30 20:00:00,04PM-08PM,2,Wednesday,20,False,186,WORLD TRADE CTR,ACE23,2413.0,1328.0,WORLD TRADE CTR (ACE23)
235828,2015-12-31,2015-12-31 00:00:00,08PM-12AM,3,Thursday,0,False,186,WORLD TRADE CTR,ACE23,289.0,343.0,WORLD TRADE CTR (ACE23)
235829,2015-12-31,2015-12-31 04:00:00,12AM-04AM,3,Thursday,4,False,186,WORLD TRADE CTR,ACE23,214.0,296.0,WORLD TRADE CTR (ACE23)
235830,2015-12-31,2015-12-31 08:00:00,04AM-08AM,3,Thursday,8,False,186,WORLD TRADE CTR,ACE23,1421.0,1670.0,WORLD TRADE CTR (ACE23)
235831,2015-12-31,2015-12-31 12:00:00,08AM-12PM,3,Thursday,12,False,186,WORLD TRADE CTR,ACE23,4218.0,2028.0,WORLD TRADE CTR (ACE23)
235832,2015-12-31,2015-12-31 16:00:00,12PM-04PM,3,Thursday,16,False,186,WORLD TRADE CTR,ACE23,5286.0,1805.0,WORLD TRADE CTR (ACE23)
235833,2015-12-31,2015-12-31 20:00:00,04PM-08PM,3,Thursday,20,False,186,WORLD TRADE CTR,ACE23,1546.0,898.0,WORLD TRADE CTR (ACE23)
235834,2016-01-01,2016-01-01 00:00:00,08PM-12AM,4,Friday,0,True,186,WORLD TRADE CTR,ACE23,477.0,839.0,WORLD TRADE CTR (ACE23)
235835,2016-01-01,2016-01-01 04:00:00,12AM-04AM,4,Friday,4,True,186,WORLD TRADE CTR,ACE23,194.0,234.0,WORLD TRADE CTR (ACE23)
235836,2016-01-01,2016-01-01 08:00:00,04AM-08AM,4,Friday,8,True,186,WORLD TRADE CTR,ACE23,391.0,486.0,WORLD TRADE CTR (ACE23)
235837,2016-01-01,2016-01-01 12:00:00,08AM-12PM,4,Friday,12,True,186,WORLD TRADE CTR,ACE23,2505.0,1693.0,WORLD TRADE CTR (ACE23)
235838,2016-01-01,2016-01-01 16:00:00,12PM-04PM,4,Friday,16,True,186,WORLD TRADE CTR,ACE23,4630.0,1772.0,WORLD TRADE CTR (ACE23)
235839,2016-01-01,2016-01-01 20:00:00,04PM-08PM,4,Friday,20,True,186,WORLD TRADE CTR,ACE23,1704.0,930.0,WORLD TRADE CTR (ACE23)

In [90]:
turnstile_usage.date = pd.to_datetime(turnstile_usage.date, infer_datetime_format=True, errors='coerce')

In [91]:
turnstile_usage = turnstile_usage[turnstile_usage.date <= datetime.date(2015, 12, 31)]

In [93]:
turnstile_usage.iloc[-10:, :]

,date,date_time,interval,day_of_week,day,hour,is_holiday,station_id,station,lines,entry_volume,exit_volume,Station_Name_w_Line
235824,2015-12-30,2015-12-30 08:00:00,04AM-08AM,2,Wednesday,8,False,186,WORLD TRADE CTR,ACE23,1899.0,2393.0,WORLD TRADE CTR (ACE23)
235825,2015-12-30,2015-12-30 12:00:00,08AM-12PM,2,Wednesday,12,False,186,WORLD TRADE CTR,ACE23,4355.0,2892.0,WORLD TRADE CTR (ACE23)
235826,2015-12-30,2015-12-30 16:00:00,12PM-04PM,2,Wednesday,16,False,186,WORLD TRADE CTR,ACE23,8333.0,2729.0,WORLD TRADE CTR (ACE23)
235827,2015-12-30,2015-12-30 20:00:00,04PM-08PM,2,Wednesday,20,False,186,WORLD TRADE CTR,ACE23,2413.0,1328.0,WORLD TRADE CTR (ACE23)
235828,2015-12-31,2015-12-31 00:00:00,08PM-12AM,3,Thursday,0,False,186,WORLD TRADE CTR,ACE23,289.0,343.0,WORLD TRADE CTR (ACE23)
235829,2015-12-31,2015-12-31 04:00:00,12AM-04AM,3,Thursday,4,False,186,WORLD TRADE CTR,ACE23,214.0,296.0,WORLD TRADE CTR (ACE23)
235830,2015-12-31,2015-12-31 08:00:00,04AM-08AM,3,Thursday,8,False,186,WORLD TRADE CTR,ACE23,1421.0,1670.0,WORLD TRADE CTR (ACE23)
235831,2015-12-31,2015-12-31 12:00:00,08AM-12PM,3,Thursday,12,False,186,WORLD TRADE CTR,ACE23,4218.0,2028.0,WORLD TRADE CTR (ACE23)
235832,2015-12-31,2015-12-31 16:00:00,12PM-04PM,3,Thursday,16,False,186,WORLD TRADE CTR,ACE23,5286.0,1805.0,WORLD TRADE CTR (ACE23)
235833,2015-12-31,2015-12-31 20:00:00,04PM-08PM,3,Thursday,20,False,186,WORLD TRADE CTR,ACE23,1546.0,898.0,WORLD TRADE CTR (ACE23)

In [94]:
turnstile_usage.to_csv("../data/2015_manhattan_turnstile_usage2.csv", index=False)