### Crime Data

In [6]:
import pandas as pd
import datetime
import numpy as np

In [7]:
crime = pd.read_csv("NYPD_Complaint_Data_Historic.csv")

/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
crime_clean = crime.copy()
crime_clean_date = crime.copy()

In [9]:
crime_clean.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,...,ADDR_PCT_CD,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,PARKS_NM,HADEVELOPT,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon
0,101109527,12/31/2015,23:45:00,NaN,NaN,12/31/2015,113,FORGERY,729.0,"FORGERY,ETC.,UNCLASSIFIED-FELO",...,44.0,INSIDE,BAR/NIGHT CLUB,NaN,NaN,1007314.0,241257.0,40.828848,-73.916661,"(40.828848333, -73.916661142)"
1,153401121,12/31/2015,23:36:00,NaN,NaN,12/31/2015,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,...,103.0,OUTSIDE,NaN,NaN,NaN,1043991.0,193406.0,40.697338,-73.784557,"(40.697338138, -73.784556739)"
2,569369778,12/31/2015,23:30:00,NaN,NaN,12/31/2015,117,DANGEROUS DRUGS,503.0,"CONTROLLED SUBSTANCE,INTENT TO",...,28.0,NaN,OTHER,NaN,NaN,999463.0,231690.0,40.802607,-73.945052,"(40.802606608, -73.945051911)"
3,968417082,12/31/2015,23:30:00,NaN,NaN,12/31/2015,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,...,105.0,INSIDE,RESIDENCE-HOUSE,NaN,NaN,1060183.0,177862.0,40.654549,-73.726339,"(40.654549444, -73.726338791)"
4,641637920,12/31/2015,23:25:00,12/31/2015,23:30:00,12/31/2015,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,...,13.0,FRONT OF,OTHER,NaN,NaN,987606.0,208148.0,40.738002,-73.987891,"(40.7380024, -73.98789129)"

In [10]:
crime_clean.CMPLNT_FR_DT[27341]

'12/04/1015'

In [11]:
# crime_clean_date.CMPLNT_FR_DT = crime_clean_date.CMPLNT_FR_DT.str.replace('1014', '2014')
# crime_clean_date.CMPLNT_FR_DT = crime_clean_date.CMPLNT_FR_DT.str.replace('1015', '2015')
# crime_clean_date.CMPLNT_FR_DT = crime_clean_date.CMPLNT_FR_DT.str.replace('1016', '2016')

In [12]:
crime_clean_date.CMPLNT_FR_DT[27341]

'12/04/1015'

In [13]:
# Convert complaint date from string format to date format
crime_clean_date.CMPLNT_FR_DT = pd.to_datetime(crime_clean_date.CMPLNT_FR_DT, infer_datetime_format=True, errors='coerce')

In [14]:
# Select only 2015 data
mask_2015 = np.array(crime_clean_date.CMPLNT_FR_DT <= datetime.date(2015, 12, 31)) & np.array(crime_clean_date.CMPLNT_FR_DT >= datetime.date(2015, 1, 1))

In [15]:
crime_clean_date_2015 = crime_clean_date[mask_2015]

In [16]:
crime_clean_date_time_2015 = crime_clean_date_2015.copy()

In [17]:
crime_clean_date_time_2015.CMPLNT_FR_TM.values

array(['23:45:00', '23:36:00', '23:30:00', ..., '03:50:00', '01:25:00',
       '00:30:00'], dtype=object)

In [18]:
crime_clean_date_2015.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,...,ADDR_PCT_CD,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,PARKS_NM,HADEVELOPT,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon
0,101109527,2015-12-31,23:45:00,NaN,NaN,12/31/2015,113,FORGERY,729.0,"FORGERY,ETC.,UNCLASSIFIED-FELO",...,44.0,INSIDE,BAR/NIGHT CLUB,NaN,NaN,1007314.0,241257.0,40.828848,-73.916661,"(40.828848333, -73.916661142)"
1,153401121,2015-12-31,23:36:00,NaN,NaN,12/31/2015,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,...,103.0,OUTSIDE,NaN,NaN,NaN,1043991.0,193406.0,40.697338,-73.784557,"(40.697338138, -73.784556739)"
2,569369778,2015-12-31,23:30:00,NaN,NaN,12/31/2015,117,DANGEROUS DRUGS,503.0,"CONTROLLED SUBSTANCE,INTENT TO",...,28.0,NaN,OTHER,NaN,NaN,999463.0,231690.0,40.802607,-73.945052,"(40.802606608, -73.945051911)"
3,968417082,2015-12-31,23:30:00,NaN,NaN,12/31/2015,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,...,105.0,INSIDE,RESIDENCE-HOUSE,NaN,NaN,1060183.0,177862.0,40.654549,-73.726339,"(40.654549444, -73.726338791)"
4,641637920,2015-12-31,23:25:00,12/31/2015,23:30:00,12/31/2015,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,...,13.0,FRONT OF,OTHER,NaN,NaN,987606.0,208148.0,40.738002,-73.987891,"(40.7380024, -73.98789129)"

In [21]:
# Convert complaint time from string format to time format
crime_clean_date_time_2015.CMPLNT_FR_TM = pd.to_datetime(crime_clean_date_2015.CMPLNT_FR_TM, infer_datetime_format=True, errors='coerce').dt.time

In [22]:
# Create boolean masks for records based on which 4 hourly window a record falls into
mask_0_4 = np.array(crime_clean_date_time_2015.CMPLNT_FR_TM >= datetime.time(0,0,0)) & np.array(crime_clean_date_time_2015.CMPLNT_FR_TM <= datetime.time(3,59,59))
mask_4_8 = np.array(crime_clean_date_time_2015.CMPLNT_FR_TM >= datetime.time(4,0,0)) & np.array(crime_clean_date_time_2015.CMPLNT_FR_TM <= datetime.time(7,59,59))
mask_8_12 = np.array(crime_clean_date_time_2015.CMPLNT_FR_TM >= datetime.time(8,0,0)) & np.array(crime_clean_date_time_2015.CMPLNT_FR_TM <= datetime.time(11,59,59))
mask_12_16 = np.array(crime_clean_date_time_2015.CMPLNT_FR_TM >= datetime.time(12,0,0)) & np.array(crime_clean_date_time_2015.CMPLNT_FR_TM <= datetime.time(15,59,59))
mask_16_20 = np.array(crime_clean_date_time_2015.CMPLNT_FR_TM >= datetime.time(16,0,0)) & np.array(crime_clean_date_time_2015.CMPLNT_FR_TM <= datetime.time(19,59,59))
mask_20_0 = np.array(crime_clean_date_time_2015.CMPLNT_FR_TM >= datetime.time(20,0,0)) & np.array(crime_clean_date_time_2015.CMPLNT_FR_TM <= datetime.time(23,59,59))

In [23]:
# Create two new columns to indicate which 4 hourly window a record falls into
crime_clean_date_time_2015['hour'] = np.zeros(crime_clean_date_time_2015.shape[0])
crime_clean_date_time_2015['hour_interval'] = np.zeros(crime_clean_date_time_2015.shape[0])

In [24]:
# Populat the two new columns using the boolean masks
crime_clean_date_time_2015['hour'][mask_0_4] = 4
crime_clean_date_time_2015['hour_interval'][mask_0_4] = '0000-0400'
crime_clean_date_time_2015['hour'][mask_4_8] = 8
crime_clean_date_time_2015['hour_interval'][mask_4_8] = '0400-0800'
crime_clean_date_time_2015['hour'][mask_8_12] = 12
crime_clean_date_time_2015['hour_interval'][mask_8_12] = '0800-1200'
crime_clean_date_time_2015['hour'][mask_12_16] = 16
crime_clean_date_time_2015['hour_interval'][mask_12_16] = '1200-1600'
crime_clean_date_time_2015['hour'][mask_16_20] = 20
crime_clean_date_time_2015['hour_interval'][mask_16_20] = '1600-2000'
crime_clean_date_time_2015['hour'][mask_20_0] = 0
crime_clean_date_time_2015['hour_interval'][mask_20_0] = '2000-0000'

/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

In [25]:
crime_clean_date_time_2015.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,...,PREM_TYP_DESC,PARKS_NM,HADEVELOPT,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,hour,hour_interval
0,101109527,2015-12-31,23:45:00,NaN,NaN,12/31/2015,113,FORGERY,729.0,"FORGERY,ETC.,UNCLASSIFIED-FELO",...,BAR/NIGHT CLUB,NaN,NaN,1007314.0,241257.0,40.828848,-73.916661,"(40.828848333, -73.916661142)",0.0,2000-0000
1,153401121,2015-12-31,23:36:00,NaN,NaN,12/31/2015,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,...,NaN,NaN,NaN,1043991.0,193406.0,40.697338,-73.784557,"(40.697338138, -73.784556739)",0.0,2000-0000
2,569369778,2015-12-31,23:30:00,NaN,NaN,12/31/2015,117,DANGEROUS DRUGS,503.0,"CONTROLLED SUBSTANCE,INTENT TO",...,OTHER,NaN,NaN,999463.0,231690.0,40.802607,-73.945052,"(40.802606608, -73.945051911)",0.0,2000-0000
3,968417082,2015-12-31,23:30:00,NaN,NaN,12/31/2015,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,...,RESIDENCE-HOUSE,NaN,NaN,1060183.0,177862.0,40.654549,-73.726339,"(40.654549444, -73.726338791)",0.0,2000-0000
4,641637920,2015-12-31,23:25:00,12/31/2015,23:30:00,12/31/2015,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,...,OTHER,NaN,NaN,987606.0,208148.0,40.738002,-73.987891,"(40.7380024, -73.98789129)",0.0,2000-0000

In [26]:
# Create a boolean mask for crimes committed in subway stations
mask_subway = crime_clean_date_time_2015.PREM_TYP_DESC == 'TRANSIT - NYC SUBWAY'

In [27]:
# Create a new df only for crimes committed in subway stations
subway_crime_clean_date_time_2015 = crime_clean_date_time_2015[mask_subway]

In [28]:
subway_crime_clean_date_time_2015.groupby('hour').size()

hour
0.0     1413
4.0     1383
8.0     1219
12.0    1919
16.0    2654
20.0    2640
dtype: int64

In [29]:
sum(subway_crime_clean_date_time_2015.Lat_Lon.isnull())

710

In [30]:
subway_crime_clean_date_time_2015.shape

(11228, 26)

In [31]:
len(subway_crime_clean_date_time_2015.CMPLNT_NUM.unique())

11228

In [37]:
len(subway_crime_clean_date_time_2015.CMPLNT_NUM.unique())

11228

In [39]:
subway_crime_clean_date_time_2015_wo_null = subway_crime_clean_date_time_2015[~subway_crime_clean_date_time_2015.Lat_Lon.isnull()]

In [41]:
subway_crime_clean_date_time_2015_wo_null.shape

(10518, 26)

In [42]:
subway_crime_clean_date_time_2015.shape[0] - sum(subway_crime_clean_date_time_2015.Lat_Lon.isnull())

10518

In [49]:
crime_id_and_lat_long = subway_crime_clean_date_time_2015_wo_null[['CMPLNT_NUM', 'Latitude', 'Longitude']]

In [50]:
crime_id_and_lat_long.to_csv("crime_id_and_lat_long.csv", index=False)