### Weather Data Pre-processing

In [1]:
import pandas as pd
import datetime
import numpy as np

In [2]:
weather_df = pd.read_csv("weather_data_raw.csv")

/Users/dwoo/virtualenvs/dsi/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (10,11,20,23,25,85,87) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
weather_df.shape

(13329, 90)

In [22]:
weather_columns = weather_df.columns

weather_columns_need = []

In [57]:
weather_df.columns

Index(['STATION', 'STATION_NAME', 'ELEVATION', 'LATITUDE', 'LONGITUDE', 'DATE',
       'REPORTTPYE', 'HOURLYSKYCONDITIONS', 'HOURLYVISIBILITY',
       'HOURLYPRSENTWEATHERTYPE', 'HOURLYDRYBULBTEMPF', 'HOURLYDRYBULBTEMPC',
       'HOURLYWETBULBTEMPF', 'HOURLYWETBULBTEMPC', 'HOURLYDewPointTempF',
       'HOURLYDewPointTempC', 'HOURLYRelativeHumidity', 'HOURLYWindSpeed',
       'HOURLYWindDirection', 'HOURLYWindGustSpeed', 'HOURLYStationPressure',
       'HOURLYPressureTendency', 'HOURLYPressureChange',
       'HOURLYSeaLevelPressure', 'HOURLYPrecip', 'HOURLYAltimeterSetting',
       'DAILYMaximumDryBulbTemp', 'DAILYMinimumDryBulbTemp',
       'DAILYAverageDryBulbTemp', 'DAILYDeptFromNormalAverageTemp',
       'DAILYAverageRelativeHumidity', 'DAILYAverageDewPointTemp',
       'DAILYAverageWetBulbTemp', 'DAILYHeatingDegreeDays',
       'DAILYCoolingDegreeDays', 'DAILYSunrise', 'DAILYSunset', 'DAILYWeather',
       'DAILYPrecip', 'DAILYSnowfall', 'DAILYSnowDepth',
       'DAILYAverageStationPressure', 'DAILYAverageSeaLevelPressure',
       'DAILYAverageWindSpeed', 'DAILYPeakWindSpeed', 'PeakWindDirection',
       'DAILYSustainedWindSpeed', 'DAILYSustainedWindDirection',
       'MonthlyMaximumTemp', 'MonthlyMinimumTemp', 'MonthlyMeanTemp',
       'MonthlyAverageRH', 'MonthlyDewpointTemp', 'MonthlyWetBulbTemp',
       'MonthlyAvgHeatingDegreeDays', 'MonthlyAvgCoolingDegreeDays',
       'MonthlyStationPressure', 'MonthlySeaLevelPressure',
       'MonthlyAverageWindSpeed', 'MonthlyTotalSnowfall',
       'MonthlyDeptFromNormalMaximumTemp', 'MonthlyDeptFromNormalMinimumTemp',
       'MonthlyDeptFromNormalAverageTemp', 'MonthlyDeptFromNormalPrecip',
       'MonthlyTotalLiquidPrecip', 'MonthlyGreatestPrecip',
       'MonthlyGreatestPrecipDate', 'MonthlyGreatestSnowfall',
       'MonthlyGreatestSnowfallDate', 'MonthlyGreatestSnowDepth',
       'MonthlyGreatestSnowDepthDate', 'MonthlyDaysWithGT90Temp',
       'MonthlyDaysWithLT32Temp', 'MonthlyDaysWithGT32Temp',
       'MonthlyDaysWithLT0Temp', 'MonthlyDaysWithGT001Precip',
       'MonthlyDaysWithGT010Precip', 'MonthlyDaysWithGT1Snow',
       'MonthlyMaxSeaLevelPressureValue', 'MonthlyMaxSeaLevelPressureDate',
       'MonthlyMaxSeaLevelPressureTime', 'MonthlyMinSeaLevelPressureValue',
       'MonthlyMinSeaLevelPressureDate', 'MonthlyMinSeaLevelPressureTime',
       'MonthlyTotalHeatingDegreeDays', 'MonthlyTotalCoolingDegreeDays',
       'MonthlyDeptFromNormalHeatingDD', 'MonthlyDeptFromNormalCoolingDD',
       'MonthlyTotalSeasonToDateHeatingDD',
       'MonthlyTotalSeasonToDateCoolingDD'],
      dtype='object')

In [23]:
weather_columns_need = ['STATION', 'STATION_NAME', 'LATITUDE', 'LONGITUDE', 'DATE',
'HOURLYDRYBULBTEMPF', 'HOURLYWindSpeed',
'HOURLYPrecip']

In [24]:
weather_df_need = weather_df[weather_columns_need]

In [25]:
weather_df_need.head()

,STATION,STATION_NAME,LATITUDE,LONGITUDE,DATE,HOURLYDRYBULBTEMPF,HOURLYWindSpeed,HOURLYPrecip
0,WBAN:94728,NY CITY CENTRAL PARK NY US,40.77898,-73.96925,2014-12-01 00:51,54,5.0,0.00
1,WBAN:94728,NY CITY CENTRAL PARK NY US,40.77898,-73.96925,2014-12-01 01:51,55,10.0,0.00
2,WBAN:94728,NY CITY CENTRAL PARK NY US,40.77898,-73.96925,2014-12-01 02:51,56,10.0,0.00
3,WBAN:94728,NY CITY CENTRAL PARK NY US,40.77898,-73.96925,2014-12-01 03:51,55,8.0,0.00
4,WBAN:94728,NY CITY CENTRAL PARK NY US,40.77898,-73.96925,2014-12-01 04:51,54,6.0,0.00

In [26]:
weather_df_need_clean_date = weather_df_need.copy()

In [27]:
# Convert date from string format to date format
weather_df_need_clean_date.DATE = pd.to_datetime(weather_df_need_clean_date.DATE, infer_datetime_format=True, errors='coerce')

In [28]:
mask_2015 = np.array(weather_df_need_clean_date.DATE <= datetime.date(2015, 12, 31)) & np.array(weather_df_need_clean_date.DATE >= datetime.date(2015, 1, 1))

In [29]:
weather_df_need_clean_date_2015 = weather_df_need_clean_date[mask_2015]

In [30]:
weather_df_need_clean_date_time_2015 = weather_df_need_clean_date_2015.copy()

In [31]:
# Convert time from string format to time format
weather_df_need_clean_date_time_2015['TIME'] = pd.to_datetime(weather_df_need_clean_date_time_2015.DATE, infer_datetime_format=True, errors='coerce').dt.time

In [32]:
weather_df_need_clean_date_time_2015['DATE'] = pd.to_datetime(weather_df_need_clean_date_time_2015.DATE, infer_datetime_format=True, errors='coerce').dt.date

In [33]:
weather_df_need_clean_date_time_2015.head()

,STATION,STATION_NAME,LATITUDE,LONGITUDE,DATE,HOURLYDRYBULBTEMPF,HOURLYWindSpeed,HOURLYPrecip,TIME
1066,WBAN:94728,NY CITY CENTRAL PARK NY US,40.77898,-73.96925,2015-01-01,28,10.0,0.00,00:51:00
1067,WBAN:94728,NY CITY CENTRAL PARK NY US,40.77898,-73.96925,2015-01-01,28,9.0,0.00,01:51:00
1068,WBAN:94728,NY CITY CENTRAL PARK NY US,40.77898,-73.96925,2015-01-01,27,7.0,0.00,02:51:00
1069,WBAN:94728,NY CITY CENTRAL PARK NY US,40.77898,-73.96925,2015-01-01,27,3.0,0.00,03:51:00
1070,WBAN:94728,NY CITY CENTRAL PARK NY US,40.77898,-73.96925,2015-01-01,27,3.0,0.00,04:51:00

In [34]:
weather_clean_df = weather_df_need_clean_date_time_2015.copy()

In [35]:
# Create boolean masks for records based on which 4 hourly window a record falls into
mask_0_4 = np.array(weather_clean_df.TIME >= datetime.time(0,0,0)) & np.array(weather_clean_df.TIME <= datetime.time(3,59,59))
mask_4_8 = np.array(weather_clean_df.TIME >= datetime.time(4,0,0)) & np.array(weather_clean_df.TIME <= datetime.time(7,59,59))
mask_8_12 = np.array(weather_clean_df.TIME >= datetime.time(8,0,0)) & np.array(weather_clean_df.TIME <= datetime.time(11,59,59))
mask_12_16 = np.array(weather_clean_df.TIME >= datetime.time(12,0,0)) & np.array(weather_clean_df.TIME <= datetime.time(15,59,59))
mask_16_20 = np.array(weather_clean_df.TIME >= datetime.time(16,0,0)) & np.array(weather_clean_df.TIME <= datetime.time(19,59,59))
mask_20_0 = np.array(weather_clean_df.TIME >= datetime.time(20,0,0)) & np.array(weather_clean_df.TIME <= datetime.time(23,59,59))

In [36]:
# Create two new columns to indicate which 4 hourly window a record falls into
weather_clean_df['hour'] = np.zeros(weather_clean_df.shape[0])
weather_clean_df['hour_interval'] = np.zeros(weather_clean_df.shape[0])

In [37]:
# Populate the two new columns using the boolean masks
weather_clean_df['hour'][mask_0_4] = 4
weather_clean_df['hour_interval'][mask_0_4] = '0000-0400'
weather_clean_df['hour'][mask_4_8] = 8
weather_clean_df['hour_interval'][mask_4_8] = '0400-0800'
weather_clean_df['hour'][mask_8_12] = 12
weather_clean_df['hour_interval'][mask_8_12] = '0800-1200'
weather_clean_df['hour'][mask_12_16] = 16
weather_clean_df['hour_interval'][mask_12_16] = '1200-1600'
weather_clean_df['hour'][mask_16_20] = 20
weather_clean_df['hour_interval'][mask_16_20] = '1600-2000'
weather_clean_df['hour'][mask_20_0] = 0
weather_clean_df['hour_interval'][mask_20_0] = '2000-0000'

/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/Users/lee/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

In [38]:
weather_clean_df.head()

,STATION,STATION_NAME,LATITUDE,LONGITUDE,DATE,HOURLYDRYBULBTEMPF,HOURLYWindSpeed,HOURLYPrecip,TIME,hour,hour_interval
1066,WBAN:94728,NY CITY CENTRAL PARK NY US,40.77898,-73.96925,2015-01-01,28,10.0,0.00,00:51:00,4.0,0000-0400
1067,WBAN:94728,NY CITY CENTRAL PARK NY US,40.77898,-73.96925,2015-01-01,28,9.0,0.00,01:51:00,4.0,0000-0400
1068,WBAN:94728,NY CITY CENTRAL PARK NY US,40.77898,-73.96925,2015-01-01,27,7.0,0.00,02:51:00,4.0,0000-0400
1069,WBAN:94728,NY CITY CENTRAL PARK NY US,40.77898,-73.96925,2015-01-01,27,3.0,0.00,03:51:00,4.0,0000-0400
1070,WBAN:94728,NY CITY CENTRAL PARK NY US,40.77898,-73.96925,2015-01-01,27,3.0,0.00,04:51:00,8.0,0400-0800

In [39]:
weather_clean_df = weather_clean_df.replace('T', 0)

In [59]:
weather_df.shape

(13329, 90)

In [60]:
weather_clean_df.shape

(11338, 11)

In [61]:
weather_df.shape[0] - weather_clean_df.shape[0]

1991

In [40]:
sum(weather_clean_df['HOURLYPrecip'].isnull())

1761

In [41]:
weather_clean_df.fillna(value=0, inplace=True)

In [42]:
sum(weather_clean_df['HOURLYPrecip'].isnull())

0

In [43]:
weather_clean_df['HOURLYPrecip'].unique()

array(['0.00', 0, '0.01', '0.04', '0.02', '0.05', '0.07', '0.06', '0.10',
       '0.12', '0.08', '0.11', '0.03', '0.15', '0.09', '0.17', '0.28',
       '0.18', '0.24', '0.23', '0.16', '0.31', '0.20', '0.25', '0.29',
       '0.14', '0.19', '0.01s', '0.13', '0.05s', '0.04s', '0.03s', '0.26',
       '0.43', '0.40', '0.22', '0.46', '0.50', '0.97', '0.21', '0.06s',
       '0.02s', '0.16s', '0.27', '0.30', '0.38', '0.39s', '0.37', '0.39',
       '0.36', '0.35', '1.13', '1.28', '0.41', '0.34', '0.09s', '0.60s',
       '0.74', '0.79', '0.11s', '0.59', '0.63', '0.32'], dtype=object)

In [44]:
weather_clean_df['HOURLYPrecip'] = weather_clean_df['HOURLYPrecip'].replace('[s]', '', regex=True)

In [45]:
weather_clean_df['HOURLYPrecip'].unique()

array(['0.00', 0, '0.01', '0.04', '0.02', '0.05', '0.07', '0.06', '0.10',
       '0.12', '0.08', '0.11', '0.03', '0.15', '0.09', '0.17', '0.28',
       '0.18', '0.24', '0.23', '0.16', '0.31', '0.20', '0.25', '0.29',
       '0.14', '0.19', '0.13', '0.26', '0.43', '0.40', '0.22', '0.46',
       '0.50', '0.97', '0.21', '0.27', '0.30', '0.38', '0.39', '0.37',
       '0.36', '0.35', '1.13', '1.28', '0.41', '0.34', '0.60', '0.74',
       '0.79', '0.59', '0.63', '0.32'], dtype=object)

In [46]:
weather_clean_df['HOURLYPrecip'] = pd.to_numeric(weather_clean_df['HOURLYPrecip'])

In [47]:
weather_clean_df['HOURLYDRYBULBTEMPF'] = weather_clean_df['HOURLYDRYBULBTEMPF'].replace('[s]', '', regex=True)

In [48]:
weather_clean_df['HOURLYDRYBULBTEMPF'] = pd.to_numeric(weather_clean_df['HOURLYDRYBULBTEMPF'])

In [49]:
precip_df = weather_clean_df.groupby(['DATE', 'hour_interval'], as_index=False).sum()[['DATE', 'hour_interval', 'HOURLYPrecip']]

In [50]:
precip_df.columns = ['date', 'hour_interval', 'total_precip']

In [51]:
precip_df.head()

         date hour_interval  total_precip
0  2015-01-01     0000-0400           0.0
1  2015-01-01     0400-0800           0.0
2  2015-01-01     0800-1200           0.0
3  2015-01-01     1200-1600           0.0
4  2015-01-01     1600-2000           0.0

In [52]:
temp_df = weather_clean_df.groupby(['DATE', 'hour_interval'], as_index=False).mean()[['DATE', 'hour_interval', 'HOURLYDRYBULBTEMPF']]

In [53]:
temp_df.columns = ['date', 'hour_interval', 'mean_temp']

In [54]:
temp_df.head()

         date hour_interval  mean_temp
0  2015-01-01     0000-0400      27.50
1  2015-01-01     0400-0800      27.00
2  2015-01-01     0800-1200      30.50
3  2015-01-01     1200-1600      37.25
4  2015-01-01     1600-2000      38.75

In [58]:
precip_df.head()

         date hour_interval  total_precip
0  2015-01-01     0000-0400           0.0
1  2015-01-01     0400-0800           0.0
2  2015-01-01     0800-1200           0.0
3  2015-01-01     1200-1600           0.0
4  2015-01-01     1600-2000           0.0

In [55]:
# precip_df.to_csv("precipitation.csv", index=False)
# temp_df.to_csv("temperature.csv", index=False)